.gradient-custom-2 {
    min-height: auto;
    background: linear-gradient(to right, #1f7be4, #4ADEDE, #16e4b0,#4ADEDE,#1f7be4);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.border-light-subtle {
    border: 3px solid rgba(5, 1, 1, 0.1);
  }