<div class="d-flex vh-90">
    <div class="container d-flex justify-content-center align-items-center">
        <form class="w-100 p-3 border rounded" style="max-width: 400px;" novalidate #loginForm="ngForm" aria-labelledby="signupPageTitle">
            <div class="d-flex align-items-center mt-5">
                <div class="elementor-widget-container mb-3">
                    <img width="100" height="60"
                        src="https://cdn.theorg.com/2bf7d052-e555-4dd4-b2e6-8ea1a1d51fb4_large.jpg"
                        class="attachment-large size-large wp-image-1563" alt=""
                        sizes="(max-width: 800px) 100vw, 800px">
                </div>
                <div class="elementor-widget-container mb-3 ms-2">
                    <h1 id="signupPageTitle" class="text-center font-weight-bold mb-3">
                        SupportSuite
                    </h1>
                </div>
            </div>            
            <div class="d-flex justify-content-center">
                <div class="form-floating mb-3 me-2">
                    <input type="text" class="form-control" id="SignupUserName" [(ngModel)]="signupObj.userName"
                        name="signupObj.username" placeholder="Username" required aria-required="true"
                        aria-label="Username">
                    <label for="SignupUserName">Username</label>
                    <div *ngIf="this.map1.get('UserNameErrorMessage')  && loginForm.submitted" class="text-danger small" role="alert">
                        {{map1.get('UserNameErrorMessage')}}
                    </div>
                </div>
                <div class="form-floating" style="margin-right: 10px;">
                    <input type="text" class="form-control" id="SignupFirstName" [(ngModel)]="signupObj.firstName"
                        name="firstname" placeholder="Firstname" required aria-required="true" aria-label="Firstname">
                    <label for="SignupFirstName">Firstname</label>
                    <div *ngIf="map1.has('firstNameErrorMessage') && loginForm.submitted" class="text-danger small"
                        role="alert">
                        {{map1.get('firstNameErrorMessage')}}
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="signupLastName" [(ngModel)]="signupObj.lastName"
                        name="lastname" placeholder="Lastname" required aria-required="true" aria-label="Lastname">
                    <label for="signupLastName">Lastname</label>
                    <div *ngIf="map1.has('LastNameErrorMessage') && loginForm.submitted" class="text-danger small"
                        role="alert">
                        {{map1.get('LastNameErrorMessage')}}
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="SignupEmail" [(ngModel)]="signupObj.email" name="email"
                    placeholder="name@example.com" required aria-required="true" aria-label="Email address">
                <label for="SignupEmail">Email address</label>
                <div *ngIf="loginForm.submitted && map1.has('emailErrorMessage')" class="text-danger small"
                    role="alert">
                    {{map1.get('emailErrorMessage')}}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-floating mb-3" style="margin-right: 10px;">
                    <input type="text" class="form-control" id="signupCountry" [(ngModel)]="signupObj.country"
                        name="country" placeholder="Country" required aria-required="true" aria-label="Country">
                    <label for="signupCountry">Country</label>
                    <div *ngIf="!signupObj.country && loginForm.submitted" class="text-danger small" role="alert">
                        Please enter a valid Country.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="signupPhnNo" [(ngModel)]="signupObj.phoneNo"
                        name="phonenumber" placeholder="Phone Number" required aria-required="true"
                        aria-label="Phone Number">
                    <label for="signupPhnNo">Phone Number</label>
                    <div *ngIf="!signupObj.phonenumber && map1.has('phoneNoerrorMessage') && loginForm.submitted"
                        class="text-danger small" role="alert">
                        {{map1.get('phoneNoerrorMessage')}}
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="signupAddress" [(ngModel)]="signupObj.address"
                    name="address" placeholder="Address" required aria-required="true" aria-label="Address">
                <label for="signupAddress">Address</label>
                <div *ngIf="map1.has('addressErrorMessage') && loginForm.submitted" class="text-danger small" role="alert">
                    {{map1.get('addressErrorMessage')}}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-floating mb-3" style="margin-right: 10px;">
                    <input type="password" class="form-control" id="SignupNewPassword" [(ngModel)]="signupObj.password"
                        name="newPassword" placeholder="New Password" required aria-required="true"
                        aria-label="New Password">
                    <label for="SignupNewPassword">New Password</label>
                    <div *ngIf="map1.has('newPasswordErrorMessage') && loginForm.submitted" class="text-danger small" role="alert">
                        {{map1.get('newPasswordErrorMessage')}}
                    </div>
                </div>
                <div class="form-floating mb-3" style="margin-right: 10px;">
                    <input type="password" class="form-control" id="SignupCnfrmPassword"
                        [(ngModel)]="signupConfirmPassword" name="confirmPassword" placeholder="Confirm Password"
                        required aria-required="true" aria-label="Confirm Password">
                    <label for="SignupCnfrmPassword">Confirm Password</label>
                    <div *ngIf="map1.has('ConfirmPasswordErrorMessage') && loginForm.submitted" class="text-danger small"
                        role="alert">
                        {{map1.get('ConfirmPasswordErrorMessage')}}
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">Have an account? <a routerLink="/login" aria-label="Login">Login</a></div>
            <button class="w-100 btn btn-lg btn-primary mb-3" (click)="signupValue()" type="submit">
                Sign up
            </button>
        </form>
    </div>
</div>