<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login - My Portfolio</title>
      <link rel="stylesheet" href="signup.component.css">
  </head>
  <body>
        <div class="d-flex vh-90">
            <div class="container d-flex justify-content-center align-items-center">
                <form class="w-100" style="max-width: 400px;">
                    <div class="d-flex justify-content-center mb-4">
                      <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                    </div>
                    <div class="d-flex justify-content-center mb-4 font-weight-bold">
                        Signup Page
                    </div>  
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="SignupUserName" placeholder="Username">
                      <label for="SignupUserName">Username</label>
                    </div>   

                    <div class="d-flex justify-content-center">
                      <div class="form-floating mb-3" style="margin-right: 10px;">
                          <input type="text" class="form-control" id="SignupFirstName" placeholder="Firstname">
                          <label for="SignupFirstName">Firstname</label>
                      </div>
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="signupLastName" placeholder="Lastname">
                          <label for="signupLastName">Lastname</label>
                      </div>
                    </div>              

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="SignupEmail" placeholder="name@example.com">
                      <label for="SignupEmail">Email address</label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <div class="form-floating mb-3" style="margin-right: 10px;">
                        <input type="text" class="form-control" id="signupCountry" placeholder="Country">
                        <label for="signupCountry">Country</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="signupPhnNo" placeholder="Phone Number">
                        <label for="signupPhnNo">Phone Number</label>
                      </div>
                  </div>
                    
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="SignupNewPassword" placeholder="New Password">
                      <label for="SignupNewPassword">New Password</label>
                    </div> 
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="SignupCnfrmPassword" placeholder="Confirm Password">
                      <label for="SignupCnfrmPassword">Confirm Password</label>
                    </div>  
                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
                </form>
        <!-- <script src="signup.js"></script> -->
            </div>
        </div>
  </body>
</html>
